In [2]:
import pandas as pd
import simfin as sf
import datetime as date
from simfin.names import *

In [3]:
sf.set_api_key('PLEbHyzQgm98TrvHFejzBwikq1mKiJob ')

In [4]:
sf.set_data_dir('~/simfin_data/')

In [5]:
fig_rat = sf.load_derived(variant = 'quarterly',market = 'us')
sec_ind = sf.load_industries()
comps = sf.load_companies(market='us')
hist_price = sf.load_shareprices(variant = 'daily', market = 'us')
price_rat = sf.load_derived_shareprices(variant='daily', market='us')

Dataset "us-derived-quarterly" on disk (1 days old).
- Loading from disk ... Done!
Dataset "industries" on disk (1 days old).
- Loading from disk ... Done!
Dataset "us-companies" on disk (1 days old).
- Loading from disk ... Done!
Dataset "us-shareprices-daily" on disk (1 days old).
- Loading from disk ... Done!
Dataset "us-derived-shareprices-daily" on disk (1 days old).
- Loading from disk ... Done!

In [6]:
hist_price_copy = hist_price
hist_price_copy = hist_price_copy.reset_index()
ticker_list = list(set(hist_price_copy['Ticker']))
ticker_list.sort()

In [7]:
hist_price.head()

                   SimFinId   Open    Low   High  Close  Adj. Close  Dividend  \
Ticker Date
A      2007-01-03     45846  34.99  34.05  35.48  34.30       22.80       NaN
       2007-01-04     45846  34.30  33.46  34.60  34.41       22.87       NaN
       2007-01-05     45846  34.30  34.00  34.40  34.09       22.66       NaN
       2007-01-08     45846  33.98  33.68  34.08  33.97       22.58       NaN
       2007-01-09     45846  34.08  33.63  34.32  34.01       22.61       NaN

                    Volume  Shares Outstanding
Ticker Date
A      2007-01-03  2574600                 NaN
       2007-01-04  2073700                 NaN
       2007-01-05  2676600                 NaN
       2007-01-08  1557200                 NaN
       2007-01-09  1386200                 NaN

In [8]:
hPrice = hist_price_copy[['SimFinId','Ticker','Date','Open','Low','High','Close']]
hPrice.head()

   SimFinId Ticker       Date   Open    Low   High  Close
0     45846      A 2007-01-03  34.99  34.05  35.48  34.30
1     45846      A 2007-01-04  34.30  33.46  34.60  34.41
2     45846      A 2007-01-05  34.30  34.00  34.40  34.09
3     45846      A 2007-01-08  33.98  33.68  34.08  33.97
4     45846      A 2007-01-09  34.08  33.63  34.32  34.01

In [9]:
t_days = list(set(hPrice.Date))

In [10]:
t_days.sort()

In [11]:
prices_dict = {};

In [12]:
p_open = hPrice.pivot_table(index=['Date'], values = 'Open',columns = 'Ticker')
p_close = hPrice.pivot_table(index=['Date'], values = 'Close',columns = 'Ticker')
p_high = hPrice.pivot_table(index=['Date'], values = 'High',columns = 'Ticker')
p_low = hPrice.pivot_table(index=['Date'], values = 'Low',columns = 'Ticker')

In [13]:
prices_dict['open'] = p_open
prices_dict['close']= p_close
prices_dict['high']= p_high
prices_dict['low']= p_low

In [14]:
prices_dict.keys()

dict_keys(['open', 'close', 'high', 'low'])

In [15]:
fig_rat.head()

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
 AVLR  2018-06-30     989057      USD         2018            Q2   2018-08-07
       2018-09-30     989057      USD         2018            Q3   2018-11-08
       2018-12-31     989057      USD         2018            Q4   2019-02-07
       2019-03-31     989057      USD         2019            Q1   2019-05-08
       2019-06-30     989057      USD         2019            Q2   2019-08-08

                   Restated Date      EBITDA  Total Debt  Free Cash Flow  \
Ticker Report Date
 AVLR  2018-06-30     2019-08-08 -14124000.0  25218000.0      -4786000.0
       2018-09-30     2019-11-06 -11715000.0         0.0      -8024000.0
       2018-12-31     2020-02-28 -15960000.0         0.0      -1064000.0
       2019-03-31     2019-05-08  -6054000.0         0.0     -19657000.0
       2019-06-30     2019-08-08  -9742000.0         0.0      -3265000.0

                    Gross Profit Margin  ...  Current Ratio  \
Ticker Report Date                       ...
 AVLR  2018-06-30               0.70832  ...        1.41490
       2018-09-30               0.71058  ...        1.20432
       2018-12-31               0.71046  ...        1.11647
       2019-03-31               0.70217  ...        1.14165
       2019-06-30               0.70060  ...        2.39729

                    Liabilities to Equity Ratio  Debt Ratio  \
Ticker Report Date
 AVLR  2018-06-30                       1.48122      0.0715
       2018-09-30                       1.54666      0.0000
       2018-12-31                       1.94772      0.0000
       2019-03-31                       1.32396      0.0000
       2019-06-30                       0.53153      0.0000

                    Earnings Per Share, Basic  Earnings Per Share, Diluted  \
Ticker Report Date
 AVLR  2018-06-30                    -1.23521                     -1.23521
       2018-09-30                    -0.36196                     -0.36196
       2018-12-31                    -0.27256                     -0.27256
       2019-03-31                    -0.13517                     -0.13517
       2019-06-30                    -0.18406                     -0.18406

                    Sales Per Share  Equity Per Share  \
Ticker Report Date
 AVLR  2018-06-30           4.44128           9.88347
       2018-09-30           1.04999           1.83585
       2018-12-31           1.13749           1.62001
       2019-03-31           1.24260           2.47105
       2019-06-30           1.27570           6.31746

                    Free Cash Flow Per Share  Dividends Per Share  \
Ticker Report Date
 AVLR  2018-06-30                   -0.33275                  NaN
       2018-09-30                   -0.12050                  NaN
       2018-12-31                   -0.01573                  NaN
       2019-03-31                   -0.28746                  NaN
       2019-06-30                   -0.04562                  NaN

                    Pietroski F-Score
Ticker Report Date
 AVLR  2018-06-30                 NaN
       2018-09-30                 NaN
       2018-12-31                 NaN
       2019-03-31                 NaN
       2019-06-30                 NaN

[5 rows x 25 columns]

In [16]:
fig_rat.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 59653 entries, (' AVLR', Timestamp('2018-06-30 00:00:00')) to ('low', Timestamp('2020-05-31 00:00:00'))
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   SimFinId                      59653 non-null  int64
 1   Currency                      59653 non-null  object
 2   Fiscal Year                   59653 non-null  int64
 3   Fiscal Period                 59653 non-null  object
 4   Publish Date                  59653 non-null  datetime64[ns]
 5   Restated Date                 59653 non-null  datetime64[ns]
 6   EBITDA                        57418 non-null  float64
 7   Total Debt                    59648 non-null  float64
 8   Free Cash Flow                52047 non-null  float64
 9   Gross Profit Margin           57983 non-null  float64
 10  Operating Margin              57983 non-null  float64
 11  Net Profit Margin             57983 non-null  float64
 12  Return on Equity              59636 non-null  float64
 13  Return on Assets              59630 non-null  float64
 14  Free Cash Flow to Net Income  52037 non-null  float64
 15  Current Ratio                 59621 non-null  float64
 16  Liabilities to Equity Ratio   59636 non-null  float64
 17  Debt Ratio                    59630 non-null  float64
 18  Earnings Per Share, Basic     59122 non-null  float64
 19  Earnings Per Share, Diluted   59122 non-null  float64
 20  Sales Per Share               57896 non-null  float64
 21  Equity Per Share              58703 non-null  float64
 22  Free Cash Flow Per Share      51645 non-null  float64
 23  Dividends Per Share           28963 non-null  float64
 24  Pietroski F-Score             45671 non-null  float64
dtypes: datetime64[ns](2), float64(19), int64(2), object(2)
memory usage: 11.6+ MB

In [17]:
fig_rat_copy = fig_rat;

In [18]:
fig_rat_copy= fig_rat_copy.reset_index()

In [19]:
fig_rat_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59653 entries, 0 to 59652
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ticker                        59653 non-null  object
 1   Report Date                   59653 non-null  datetime64[ns]
 2   SimFinId                      59653 non-null  int64
 3   Currency                      59653 non-null  object
 4   Fiscal Year                   59653 non-null  int64
 5   Fiscal Period                 59653 non-null  object
 6   Publish Date                  59653 non-null  datetime64[ns]
 7   Restated Date                 59653 non-null  datetime64[ns]
 8   EBITDA                        57418 non-null  float64
 9   Total Debt                    59648 non-null  float64
 10  Free Cash Flow                52047 non-null  float64
 11  Gross Profit Margin           57983 non-null  float64
 12  Operating Margin              57983 non-null  float64
 13  Net Profit Margin             57983 non-null  float64
 14  Return on Equity              59636 non-null  float64
 15  Return on Assets              59630 non-null  float64
 16  Free Cash Flow to Net Income  52037 non-null  float64
 17  Current Ratio                 59621 non-null  float64
 18  Liabilities to Equity Ratio   59636 non-null  float64
 19  Debt Ratio                    59630 non-null  float64
 20  Earnings Per Share, Basic     59122 non-null  float64
 21  Earnings Per Share, Diluted   59122 non-null  float64
 22  Sales Per Share               57896 non-null  float64
 23  Equity Per Share              58703 non-null  float64
 24  Free Cash Flow Per Share      51645 non-null  float64
 25  Dividends Per Share           28963 non-null  float64
 26  Pietroski F-Score             45671 non-null  float64
dtypes: datetime64[ns](3), float64(19), int64(2), object(3)
memory usage: 12.3+ MB

In [20]:
frx = fig_rat_copy[['Ticker','Publish Date','Report Date','SimFinId','Fiscal Year','Fiscal Period','Free Cash Flow to Net Income','Liabilities to Equity Ratio']]

In [21]:
frx.head()

,Ticker,Publish Date,Report Date,SimFinId,Fiscal Year,Fiscal Period,Free Cash Flow to Net Income,Liabilities to Equity Ratio
0,AVLR,2018-08-07,2018-06-30,989057,2018,Q2,0.26939,1.48122
1,AVLR,2018-11-08,2018-09-30,989057,2018,Q3,0.33290,1.54666
2,AVLR,2019-02-07,2018-12-31,989057,2018,Q4,0.05773,1.94772
3,AVLR,2019-05-08,2019-03-31,989057,2019,Q1,2.12669,1.32396
4,AVLR,2019-08-08,2019-06-30,989057,2019,Q2,0.24786,0.53153

In [22]:
price_rat.tail()

                   SimFinId    Market-Cap  \
Ticker Date
low    2020-08-24    186050  1.250511e+11
       2020-08-25    186050  1.252701e+11
       2020-08-26    186050  1.286449e+11
       2020-08-27    186050  1.255645e+11
       2020-08-28    186050  1.249605e+11

                   Price to Earnings Ratio (quarterly)  \
Ticker Date
low    2020-08-24                             93.53078
       2020-08-25                             93.69454
       2020-08-26                             96.21874
       2020-08-27                             93.91477
       2020-08-28                             93.46301

                   Price to Earnings Ratio (ttm)  \
Ticker Date
low    2020-08-24                       27.77708
       2020-08-25                       27.82571
       2020-08-26                       28.57536
       2020-08-27                       27.89112
       2020-08-28                       27.75695

                   Price to Sales Ratio (quarterly)  \
Ticker Date
low    2020-08-24                           6.35581
       2020-08-25                           6.36694
       2020-08-26                           6.53847
       2020-08-27                           6.38191
       2020-08-28                           6.35121

                   Price to Sales Ratio (ttm)  Price to Book Value  \
Ticker Date
low    2020-08-24                     1.71427             74.00746
       2020-08-25                     1.71727             74.13704
       2020-08-26                     1.76354             76.13434
       2020-08-27                     1.72131             74.31130
       2020-08-28                     1.71303             73.95384

                   Price to Free Cash Flow (quarterly)  \
Ticker Date
low    2020-08-24                             24.79196
       2020-08-25                             24.83537
       2020-08-26                             25.50445
       2020-08-27                             24.89375
       2020-08-28                             24.77400

                   Price to Free Cash Flow (ttm)  Enterprise Value  EV/EBITDA  \
Ticker Date
low    2020-08-24                       15.81135      1.406991e+11   16.88254
       2020-08-25                       15.83904      1.409181e+11   16.90881
       2020-08-26                       16.26575      1.442929e+11   17.31377
       2020-08-27                       15.87627      1.412125e+11   16.94415
       2020-08-28                       15.79990      1.406085e+11   16.87167

                   EV/Sales    EV/FCF  Book to Market Value  \
Ticker Date
low    2020-08-24   1.89923  17.51732               0.01372
       2020-08-25   1.90219  17.54458               0.01370
       2020-08-26   1.94775  17.96476               0.01334
       2020-08-27   1.90616  17.58124               0.01367
       2020-08-28   1.89801  17.50604               0.01373

                   Operating Income/EV
Ticker Date
low    2020-08-24              0.04896
       2020-08-25              0.04888
       2020-08-26              0.04774
       2020-08-27              0.04878
       2020-08-28              0.04899

In [23]:
price_rat_c = price_rat
price_rat_c = price_rat_c.reset_index()

In [24]:
price_rat_c.columns

Index(['Ticker', 'Date', 'SimFinId', 'Market-Cap',
       'Price to Earnings Ratio (quarterly)', 'Price to Earnings Ratio (ttm)',
       'Price to Sales Ratio (quarterly)', 'Price to Sales Ratio (ttm)',
       'Price to Book Value', 'Price to Free Cash Flow (quarterly)',
       'Price to Free Cash Flow (ttm)', 'Enterprise Value', 'EV/EBITDA',
       'EV/Sales', 'EV/FCF', 'Book to Market Value', 'Operating Income/EV'],
      dtype='object')

In [25]:
p_rat = price_rat_c[['Ticker','Date','SimFinId','Price to Earnings Ratio (quarterly)','Price to Book Value']]

In [26]:
p_rat

,Ticker,Date,SimFinId,Price to Earnings Ratio (quarterly),Price to Book Value
0,A,2007-01-03,45846,NaN,NaN
1,A,2007-01-04,45846,NaN,NaN
2,A,2007-01-05,45846,NaN,NaN
3,A,2007-01-08,45846,NaN,NaN
4,A,2007-01-09,45846,NaN,NaN
...,...,...,...,...,...
5923162,low,2020-08-24,186050,93.53078,74.00746
5923163,low,2020-08-25,186050,93.69454,74.13704
5923164,low,2020-08-26,186050,96.21874,76.13434
5923165,low,2020-08-27,186050,93.91477,74.31130
5923166,low,2020-08-28,186050,93.46301,73.95384

In [27]:
frx

,Ticker,Publish Date,Report Date,SimFinId,Fiscal Year,Fiscal Period,Free Cash Flow to Net Income,Liabilities to Equity Ratio
0,AVLR,2018-08-07,2018-06-30,989057,2018,Q2,0.26939,1.48122
1,AVLR,2018-11-08,2018-09-30,989057,2018,Q3,0.33290,1.54666
2,AVLR,2019-02-07,2018-12-31,989057,2018,Q4,0.05773,1.94772
3,AVLR,2019-05-08,2019-03-31,989057,2019,Q1,2.12669,1.32396
4,AVLR,2019-08-08,2019-06-30,989057,2019,Q2,0.24786,0.53153
...,...,...,...,...,...,...,...,...
59648,low,2019-06-03,2019-05-31,186050,2019,Q1,2.38050,12.35569
59649,low,2019-09-03,2019-08-31,186050,2019,Q2,1.32578,14.41477
59650,low,2019-12-04,2019-11-30,186050,2019,Q3,0.73594,15.17738
59651,low,2020-03-23,2020-02-29,186050,2019,Q4,-0.01176,19.01572
59652,low,2020-05-31,2020-05-31,186050,2020,Q1,3.77263,25.70862

In [28]:
frx_c = frx
p_rat_c = p_rat

In [29]:
fundams = p_rat_c.merge(frx_c, on = 'Publish Date')

KeyError: 'Publish Date'